@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=PT+Sans+Caption:wght@400;700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    padding: 16px 0;
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    font-family: "PT Sans Caption", sans-serif;
    box-sizing: border-box;
    padding: 0 64px;
}

.logo {
    height: 50%;
}
.logo img {
    height: 100%;
}
nav{
 display:flex;
 gap:32px
}
.nav-item{
    font-size:36px
}
.first{
    display:flex;
    justify-content:space-between;
    padding:0 64px;
    height:80vh;
}
.left{
    display:flex;
    flex-direction: column;
}
.text-first{ 
    width:80%;
}
.text-first h1{
    font-size:144px;
}
.btm{
    color:white;
    background-color:black;
    margin-top:15%;
    border: 1px solid black;
    padding:20px;
    width:35%;
    font-size:36px;
}
.btm:hover{
    color:black;
    background-color: white;
    transition:all 1s linear ;
    border: 1px solid black;
}
.right{
    margin-top:4%
} 
.second{
    padding:30px;
}
.second h1{
    font-size:144px;
    margin-top:5%
}
.Catalog{
    display:flex;
    justify-content:space-around;
    border:1px solid #E9ADC89E;
    background-color: #E9ADC89E;
    padding:40px;
    font-size:24px;
}
.Catalog img{
    border:1px solid #E9ADC89E;
    border-radius:10%;
}
